// load first
@import './variables.scss';
@import './forms.scss';
@import './list.scss';
@import './loader.scss';
@import './sidebar.scss';


.fla-main {
  background: $fla-bg;
  padding-top: 1rem;
  // min-height: 100%;

  a:not(.btn) {
    color: $fla-link-color;
    transition: all 0.2s;
    &:hover {
      text-decoration: none;
      color: $fla-link-hover-color;
    }
  }

  .fla-back {
    margin-bottom: 15px;
  }
}
